<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JCNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JCNetworkAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JCNetworkTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39DB2D1A1776940700EFE81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB45791B1C3CC04300855D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB52E8DF1C3BB5CA00329186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB52E8E91C3BB5CA00329186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
